{% set rows = size %}
{% set cols = input_grid.split('\n')|first|length %}
{% set base_size = 700 %}
{% set font_size = (base_size / (rows * cols)**0.5)|round|int %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle Visualization</title>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        p {
            margin: 0;
        }
        body {
            display: flex;
            flex-direction: column;
            font-family: Arial, sans-serif;
            background-color: black;
            color: white;
        }
        header, footer {
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
            background: #111;
            color: #999;
            font-size: 20px;
        }
        header > div, footer > div {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 20px;
        }
        main {
            flex-grow: 1;
            display: flex;
            justify-content: space-between;
            align-items: stretch;
            padding: 20px;
        }
        section {
            background-color: #111;
            color: #fff;
            padding: 20px;
            width: 48%;
            display: flex;
            flex-direction: column;
        }
        section > h2 {
            text-align: center;
            color: #888;
            margin-top: 0;
            margin-bottom: 20px;
        }
        .grid-content {
            font-family: monospace;
            white-space: pre;
            flex-grow: 1;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .value {
            font-size: 1.5rem;
            color: white;
            font-weight: bold;
            padding: 20px;
        }
        .True {
            color: green;
        }
        .False {
            color: red;
        }
    </style>
</head>
<body>
    <header>
        <div class="index">{{index}}<hr>{{total_puzzles}}</div>
        <div class="title">{{title}}<hr>{{type}}</div>
        <div>{{model}}<hr>{{size}} x {{size}}</div>
    </header>
    <main>
        <section>
            <h2>INPUT</h2>
            <div class="grid-content" style="font-size: {{font_size}}px;">{{input_grid}}</div>
        </section>
        <section>
            <h2>OUTPUT</h2>
            <div class="grid-content" style="font-size: {{font_size}}px;">{{output_grid}}</div>
        </section>
    </main>
    <footer>
        <div>
        <p>correct answer:</p>
        <p class="value">{{correct_answer|upper}}</p>
        </div>
        <div>
        <p>model response:</p>
        <p class="value">{{model_response|upper}}</p>
        </div>
        <div >
        <p class="value {{is_correct}}">{{is_correct|upper}}</p>
        </div>
        <div>
        <p>time:</p>
        <p class="value">{{'{0:0.2f}'.format(processing_time)}} s</p>
        </div>
    </footer>
</body>
</html>
